/* Game Screen */

.game-screen {
   background-color: grey;
   height: 100vh;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center; 
}

.game-header {
   background-color: #F2F2F2;
   height: 10%;
   width: 40%;
   display: flex;
   justify-content: space-around;
   align-items: center; 
}

.progress-bar {
  flex: 2;
  margin-left: 20px;
  margin-right: 20px;
  height: 30px;
}

.timer-div {
  flex: 1;
  text-align: center;
}

#open-drawer {
  font-size: 50px;
  position: absolute;
  top: 40px;
  right: 70px;
}

/* Start Screen */

.start-screen {
   background-color: grey;
   height: 100vh;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center; 
}

.start-main-div {
  background-color: white;
  height: 50%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.start-main-div > .MuiButton-root {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 18px;
}

/* Loading Screen */

.loading-screen {
  background-color: white;
  height: 900px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.loading-component {
  margin-top: -70px;
  margin-bottom: 70px;
}
