/* Game Screen */

.game-screen {
   background-color: grey;
   height: 100vh;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center; 
}

.game-header {
   background-color: #F2F2F2;
   height: 10%;
   width: 40%;
   display: flex;
   justify-content: space-around;
   align-items: center; 
}

.progress-bar {
  flex: 2;
  margin-left: 20px;
  margin-right: 20px;
  height: 30px;
}

.timer-div {
  flex: 1;
  text-align: center;
}

#open-drawer {
  font-size: 50px;
  position: absolute;
  top: 40px;
  right: 70px;
}



/* Chat Box */

.messages-container {
    flex: 1;
    min-height: 100px;
    overflow: auto;
    border: 1px solid black;
    border-radius: 7px 7px 0 0;
}

.messages-list {
    list-style-type: none;
    padding: 0;
}

.new-message-input-field {
    height: 200px;
    max-height: 50%;
    font-size: 20px;
    padding: 8px 12px;
    resize: none;
}

.message-item {
    width: 55%;
    margin: 8px;
    padding: 12px 8px;
    word-break: break-word;
    border-radius: 4px;
    color: white;
}

.my-message {
    background-color: rgb(0, 132, 255);
    margin-left: auto;
}

.received-message {
    background-color: #3f4042;
    margin-right: auto;
}

.send-message-button {
    font-size: 28px;
    font-weight: 600;
    color: white;
    background: #31a24c;
    padding: 24px 12px;
    border: none;
}

.messages-container, .new-message-input-field, .send-message-button {
    border-color: #9a9a9a;
}

/* Start Screen */

.start-screen {
   background-color: grey;
   height: 100vh;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center; 
}

.start-main-div {
  background-color: white;
  height: 50%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.start-main-div > .MuiButton-root {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 18px;
}

/* Loading Screen */

.loading-screen {
  background-color: white;
  height: 900px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.loading-component {
  margin-top: -70px;
  margin-bottom: 70px;
}
