 /* Start Screen */

.start-screen {
  background-color: grey;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.start-main-div {
  background-color: white;
  height: 50%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.start-main-div > .MuiButton-root {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 18px;
}

